 <center><h1>{{title}}</h1></center>
<br><br>
<table align='center' width=500px>
    <tr align='center'>
        <td>
            <a class='anchor' href="/">Weather</a>
        </td>
        <td><a class='anchor' href="/help">Help</a></td>
        <td><a class='anchor' href="/about">About</a></td>
        </td>
    </tr>
</table>