<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel='stylesheet' href='/css/styles.css'>
</head>

<body>
    <Center>
        <div class="main-content">
            <p id='error'>404</p>
            {{>header}}
            <br><br>
            <h2>OOps... The page you requested is not available.</h2>
    </Center>
    </div>

    {{>footer}}
</body>

</html>